body {
  margin: 0;
  font-family: sans-serif;
  background: red;
}

canvas {
  display: block;
}

#container {
  width: 100vw;
  height: 100vh;
}

#selected {
  position: absolute;
  top: 0;
  margin: 20px;
}
